[section footer]
handle = "Site\Footer"
identifier = "slug"
value = "footer"

[section setting]
handle = "Setting"
identifier = "slug"
value = "setting"
==


  {% set iconLabels = {
    'facebook-f': 'Facebook',
    'youtube': 'YouTube',
    'twitter': 'Twitter',
    'instagram': 'Instagram',
    'linkedin-in': 'LinkedIn',
    'github': 'GitHub',
    'whatsapp': 'WhatsApp',
    'pinterest-p': 'Pinterest',
    'telegram-plane': 'Telegram',
    'reddit-alien': 'Reddit'
  } %}

  <!-- footer -->
  <footer class="footer-part relative">
    <!-- container -->
    <div class="container relative z-1">
      <div class="container-two">
        <div
          class="py-6 md:py-8 xl:py-12 border-b border-black/10 flex flex-wrap md:flex-nowrap items-center justify-center md:justify-between">
          <div class="mb-5 md:mb-0">
            <a href="/"><img src="{{ setting.logo.path }}" alt="img"
                class="max-w-[150px] xl:max-w-full"></a>
          </div>
          <div class="md:flex items-center text-center md:text-left w-full md:w-auto">
            <h5
              class="text-md lg:text-lg 1xl:text-xl xl:tracking-[4px] font-lexend mb-0 uppercase mb-3 md:mb-0 md:mr-8">
              Follow us here :</h5>
            <ul class="flex items-center justify-center md:justify-start gap-3 md:gap-0 md:space-x-5">
               {% for social in footer.socials %}
               <li>
                <a href="{{ social.url }}" target="_blank" class="w-[40px] h-[40px] lg:w-[50px] lg:h-[50px] transition-all rounded-full bg-gray-200 flex items-center justify-center text-primary-900 hover:bg-primary-900 hover:text-white"> <i class="fa-brands fa-{{ social.icon }}"></i></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="py-6 md:py-8 xl:py-12 md:flex items-center justify-between">
          <ul class="text-black text-md 1xl:text-lg gap-4 md:gap-6 text-center justify-center mb-2 md:mb-0 md:justify-start flex-wrap flex items-center">
            {% for link in footer.links %}
            <li><a href="{{ link.url }}" class="hover:text-primary-900">{{ link.label }}</a></li>
            {% endfor %}
          </ul>
          <p class="mb-0 flex items-center justify-center flex-wrap md:justify-end space-x-5 text-md 1xl:text-lg">
            {% for link in footer.legal_links %}
            <a href="{{ link.url }}" class="hover:text-primary-900">{{ link.label }}</a>
            {% if not loop.last %} <span> | </span> {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
    <div class="bg-gray-200 text-center p-3 md:p-5">
      <p class="text-sm md:text-md md:text-lg mb-0"> {{ footer.copyright|raw }} </p>
    </div>
  </footer>