[section setting]
handle = "Setting"
identifier = "slug"
value = "setting"
== 

<title>{{ this.page.title }}</title>
<link rel="icon" href="{{ setting.favicon.path }}" type="image/gif">
<!-- All device viewport meta -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Fonts style file -->
<link rel="stylesheet" href="{{ 'assets/css/all-fontawesome.min.css'|theme  }}">
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link href="{{ 'assets/css/swiper-bundle.min.css'|theme  }}" rel="stylesheet">

<link href="{{ 'assets/css/styles.css'|theme  }}" rel="stylesheet">