url = "/project"
layout = "default"
title = "Project"
seoOptionsOgTitle = "Project"
seoOptionsOgDescription = "Project"
seoOptionsOgImage = "/Orion Image.png"
seoOptionsOgRefImage = "{{ 'assets/images/Orion Image.png' | theme }}"
seoOptionsEnabledInSitemap = 1
seoOptionsUseUpdatedAt = 1
seoOptionsRobotIndex = "index"
seoOptionsRobotFollow = "follow"
seoOptionsOgCard = "summary_large_image"

[collection ourProject]
handle = "Project"

[entry project]
handle = "Project"
entrySlug = ":slug"
==
{% set slug = get('slug') %}

{% if slug %}
    {# Redirect to /service/:slug page #}
    {% do redirect('project-detail'|page({ slug: slug })) %}
{% endif %}

{% set projectss = ourProject.paginate(5) %}

<section class="our-work-section relative py-8 lg:py-10 xl:py-12 sm:mb-10 md:mb-24">
    <div class="container">
        <div class="text-center md:text-left md:flex items-center justify-between mb-5 lg:mb-10">
            <h2 class="title mb-0">Our Work</h2>
        </div>

        <div class="our-work-grid grid grid-append grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 1xl:gap-10 2xl:gap-14">
            {% for projects in projectss %}
            <div class="group grid-list-append">
                <div class="overflow-hidden relative before:pt-[114%] before:block">
                    <a href="/project/{{projects.slug}}" class="absolute top-0 left-0 w-full h-full block">
                        <img src="{{ projects.thumb_image | media }}" alt="{{ projects.title }}" class="h-full w-full object-cover">
                    </a>
                    <a href="/project/{{projects.slug}}" class="w-[50px] h-[50px] lg:w-[85px] lg:h-[85px] rounded-full bg-white/80 items-center justify-center absolute top-3 lg:top-5 right-3 lg:right-5 hover:bg-white hover:text-primary-900 hidden group-hover:flex">
                        <svg xmlns="http://www.w3.org/2000/svg" width="69" height="69" viewBox="0 0 69 69" fill="none">
                            <path d="M24.8251 24.825H44.5722M44.5722 24.825V44.572M44.5722 24.825L24.8251 44.572" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
                <div class="pt-3 xl:pt-8">
                    <h3 class="text-lg font-medium font-lexend xl:text-2xl">
                        <a href="/project/{{projects.slug}}" class="group-hover:text-primary-900">
                            {{ projects.title }}
                        </a>
                    </h3>
                </div>
            </div>
            {% endfor %}
        </div>

        {% if projectss.hasMorePages %}
        <div class="text-center mt-6 sm:mt-10">
            <a href="javascript:;" class="all-btn btn-primary btn-icon load-more-btn" data-next-page="{{ projectss.currentPage + 1 }}">
                Load More
                <span class="load-more-spinner hidden">
                    <img src="{{ '/assets/images/loader-icon.svg' | theme }}" alt="Loading...">
                </span>
            </a>
        </div>
        {% endif %}
    </div>
</section>