{% if is_homepagetwo %}
	<section class="relative blog-grid-slider">
        <div class="container">
          <div class="container-two">
            <div class="sm:flex items-end justify-between lg:mb-8 mb-4">
              <div>
                <h5 class="sub-title">{{ section.sub_title }}</h5>
                <h2 class="title mb-0">{{ section.section_title }}</h2>
                <p class="max-w-[670px]">{{ section.description }}</p>
              </div>
              <div class="flex sm:justify-end gap-2 pt-2 sm:pt-0 slider-custom-arrow">
                <div class="swiper-button-prev arrow-slider static">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="23" viewBox="0 0 36 23" fill="none">
                    <g clip-path="url(#clip0_100_117)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.44863 12.7578L13.6843 20.9909L11.8315 22.8411L0.439697 11.4493L11.8315 0.0549316L13.6843 1.90777L5.44863 10.1408H31.4118V12.7578H5.44863Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_100_117">
                        <rect width="35.9837" height="22.8987" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <div class="swiper-button-next arrow-slider static">
                  <svg xmlns="http://www.w3.org/2000/svg" width="37" height="23" viewBox="0 0 37 23" fill="none">
                    <g clip-path="url(#clip0_100_119)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M31.48 12.7578L23.2443 20.9909L25.0971 22.8411L36.4889 11.4493L25.0971 0.0549316L23.2443 1.90777L31.48 10.1408H5.51679V12.7578H31.48Z"
                        fill="currentColor" />
                    </g>
                    <defs>
                      <clipPath id="clip0_100_119">
                        <rect width="35.9837" height="22.8987" fill="white" transform="matrix(-1 0 0 1 36.9286 0)" />
                      </clipPath>
                    </defs>
                  </svg>
                </div>
              </div>
            </div>

            <div class="swiper mySwiper pr-2 sm:pr-[10%] lg:pr-[17%] overflow-visible">
              <div class="swiper-wrapper">
              	 {% for item in section.latest_blogs|slice(0, 5) %}
                <div class="swiper-slide">
                  <!-- blog box -->
                  <div class="blog-box bg-gray-200 group">
                    <div class="relative overflow-hidden before:pt-[52%] before:block">
                      <a href="/blog/{{item.slug}}" class="absolute top-0 left-0 w-full h-full block">
                        <img src="{{ item.thumb_image|media }}" alt="img"
                          class="h-full w-full object-cover transition-all group-hover:scale-110 duration-300">
                      </a>
                    </div>
                    <div class="p-4 xl:p-7">
                      <h3 class="border-b border-black/20 lg:pb-4 lg:mb-5 pb-2 mb-2"><a href="/blog/{{item.slug}}"
                          class="group-hover:text-primary-900">{{ item.title }}</a></h3>
                      <p class="m-0">{{ item.short_description|raw }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

          </div>
        </div>
    </div>
    </section>

{% endif %}